* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.background {
  background-color: #272a30;
  height: 100vh;
  width: 100%;
}

.heading-container {
  padding: 40px 100px 50px;
  background-color: #23262b;
}

.heading {
  display: flex;
}

.heading > p {
  color: whitesmoke;
  font-size: larger;
  font-weight: 300;
}

.heading > p > strong {
  font-weight: 700;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar__nav {
  padding-left: 20px;
  vertical-align: center;
  margin-top: -5px;
}

.navbar__nav > a {
  padding-right: 10px;
  text-decoration: none;
  color: #9d9d9d;
}

.navbar__nav > input {
  /* position: absolute; */
  width: 200px;
  padding: 10px 30px;
  background-color: #272a30;
  border-style: none;
  outline: none;
  border-radius: 5px;
  color: whitesmoke;
  top: 4%;
}

.navbar__nav__button > button {
  background: none;
  border-style: none;
  font-weight: 600;
  color: #f56565;
}

.navbar__nav__button > button:hover {
  background: none;
  border-style: none;
  font-weight: 600;
  color: rgb(252, 40, 40);
  cursor: pointer;
}

.heading__details {
  display: flex;
  justify-content: space-between;
}

.welcome__details {
  padding: 100px 140px 0px 0px;
}

.welcome__details > p {
  color: #b4b5b8;
  font-size: 15px;
}

.welcome__details > h3 {
  color: whitesmoke;
  padding: 5px 0px;
}

.welcome__details > h5 {
  color: #b4b5b8;
  opacity: 0.5;
}

.details {
  padding: 100px 80px 0px 0px;
}

.details > h3 {
  color: whitesmoke;
}

.processed {
  color: #40a187;
}

.pending {
  color: #ecc94b;
}

.total-users {
  color: #a0aec0;
}

.total-amount-sold {
  color: whitesmoke;
}

.total-amount-bought {
  color: whitesmoke;
}

.details > .amount {
  color: #40a187;
}

.view-all {
  text-align: right;
}

.view-all > a {
  font-size: small;
}

.body {
  min-height: 60vh;
}

.recent-body {
  /* background-color: whitesmoke; */
  display: flex;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.recent-header > p {
  color: #9d9d9d;
}

.recent-header > input {
  width: 345px;
  padding: 10px;
  outline: none;
  background: none;
  color: whitesmoke;
  border: none;
  border-bottom: 1px solid #6b6d71;
  font-size: 15px;
}

.recent-header > p > i {
  padding-left: 10px;
  color: #40a187;
  align-self: center;
  cursor: pointer;
}

.recent-header > a {
  color: #9d9d9d;
}

.container {
  padding: 0px 0px 10px 0px;
  flex: 1;
}

.transaction-holder {
  margin: 0px 100px;
  border-radius: 5px;
  background-color: #23262b;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.transaction-holder:hover {
  border: 1px solid #40a187;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.transaction > i {
  font-size: 10px;
  color: #ecc94b;
}

.transaction > p {
  color: #9d9d9d;
}

.transaction > p > bold {
  color: whitesmoke;
}

.recent-body {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.pagination > p {
  color: #b4b5b8;
  padding-right: 10px;
}

.pagination-icon {
  background-color: #23262b;
  padding: 5px 10px;
  border: 1px solid #545454;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
}

.rates-header {
  display: flex;
  padding: 80px 120px 20px 300px;
}

.rates-header-nav > p {
  background-color: #23262b;
  color: #9d9d9d;
  padding: 15px 65px;
  border-radius: 5px;
}

.rates-header-nav.first > p {
  border: 1px solid #40a187;
}

.rates-header-nav.first {
  padding-right: 10px;
  flex: 0.5;
  text-align: center;
}

.rates-header-nav.second {
  flex: 0.5;
  text-align: center;
}

.rates-body {
  padding: 0px 120px 20px 300px;
}

.rates {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 15px;
  align-items: center;
}

.rates-container {
  padding: 0px 0px 10px 0px;
}

.ratebody-container {
  padding: 0px 0px 10px 0px;
}

.rates-holder {
  border-radius: 5px;
  background-color: #23262b;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.rates-holder.highlighted {
  border: 1px solid #40a187;
}

.rates-holder-icon {
  text-align: right;
  padding: 0 20px 0 0;
}

.rates-holder-icon > i {
  font-size: 6px;
  color: whitesmoke;
}

.rates-icon > i {
  font-size: 30px;
  transform: rotate(-15deg);
  color: rgb(241, 142, 28);
}

.currency {
  color: #efeff1;
}

.currency-convert {
  color: #40a187;
}

.currency-convert-other {
  color: #ecc94b;
}

@media only screen and (max-width: 768px) {
  .background {
    height: 100vh;
    width: 100vh;
  }
}
